@model IEnumerable<NguyenThanhDat_BigSchool.Models.Course>
@{
    ViewBag.Title = "LectureIamGoing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Lecture I am Going</h2>
<div class="row">
    <ul class="course">
        @foreach (var courses in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @courses.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @courses.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @courses.LectureName
                    </span>
                    <br />
                    <span class="category">
                        @courses.Category.Name
                    </span>
                </div>
            </li>
        }
    </ul>
</div>
